{% extends "email/base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<p>Hi {{ user.name }},</p>

<p>We received a request to reset your password for your Bookstore account. Click the button below to create a new password:</p>

<p style="text-align: center;">
    <a href="{{ reset_url }}" class="button">Reset Password</a>
</p>

<p>This password reset link will expire in 1 hour for security reasons. If you need a new reset link, you can request one from the login page.</p>

<div class="help-text">
    <p>If the button above doesn't work, copy and paste this URL into your browser:</p>
    <p style="word-break: break-all;">{{ reset_url }}</p>
</div>

<p><strong>Security Tip:</strong> If you didn't request this password reset, please secure your account by:</p>
<ol>
    <li>Changing your password immediately</li>
    <li>Enabling two-factor authentication if available</li>
    <li>Contacting our support team</li>
</ol>

<p>Best regards,<br>The Bookstore Team</p>
{% endblock %}
